.new1
{
    height: 100vh;
}

.inp1
{
    height: 51px;
    width: 400px;
    margin: 21px;
    margin-bottom: 0px;
    border-radius: 9px;
    border: 0.5px solid grey;
}

.fb
{
    font-size: 60px;
    font-weight: 800;
}

.fp
{
    font-size: 30px;
}

.bg-gre1
{
    background-color: rgb(229, 227, 227);
}

.new2
{
    background-color: white;
    text-align: center;
    border-radius: 11px;
}

.hh
{
    height: 350px;
    width: 450px;
}

.bb
{
    height: 51px;
    width: 400px;
    margin: 21px;
}

.a1
{
    color: black;
    font-weight: 700;
    text-align: center;
}