.new1
{    font-family: "Brush Script MT";
    font-weight: 500;
    font-size: 60px;
}

.lolo
{
    height: 400px;
    width: 310px;
    border: 0.5px solid rgb(168, 167, 167);
}

.tete
{
    height: 50px;
    width: 280px;
    margin: 11px;
    border: 0.5px solid rgb(173, 172, 172);
    background-color: rgb(248, 248, 248);
}

.hehe
{
    height: 40px;
    width: 280px;
    margin: 11px;
    border-radius: 11px;
}

.hhah
{
    height: 60px;
    width: 310px;
    border: 0.5px solid rgb(181, 181, 181);
    margin-top: 11px;
}